{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "FUNCTIONS_NODE_VERSION": "~20",

    "GITHUB_OAUTH_CLIENT_ID": "<your-dev-github-oauth-app-client-id>",
    "GITHUB_OAUTH_CLIENT_SECRET": "<your-dev-github-oauth-app-client-secret>",

    "CORS_ALLOWED_ORIGINS": "http://localhost:5173"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "http://localhost:5173",
    "CORSCredentials": false
  }
}
